 /* General classes for page */

body {
  font-family: 'Open Sans';
}


/* Footer */

#footer {
  background-color: #222;
  color: #aaaaaa;
  padding-top: 3em;
  padding-bottom: 3em;
}

#footer a {
  color: #cccccc;
}
.footerfixed{
  bottom: 0;
  position: absolute;
  width: 100%;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}

/* Lead with big image */

.wrapper {
  background-image: url('../images/image1.jpg');
  height: 850px;
  background-size: cover;
  padding-top: 90px;
  text-align: center;
  color: white;
}
.image{
  background-image: url('../images/image2bis.jpg');
  height: 850px;
  background-size: cover;
  opacity: 1;
}
.rex {
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans';
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, .7);
}
.rexstudent{
  font-style: italic;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 80px;
  padding-right: 80px;
  text-shadow: 0 0 30px rgba(0, 0, 0, .7);
  font-size: 16px;
}
.profil{
  height: 250px;
  margin-left: 0%;
  border-radius: 70%;
  margin-bottom: 3em;
  margin-top: 3em;
}

.lead h1 {
  font-size: 72px;
  font-weight: normal;
}

.lead h2 {
  background: rgba(0, 0,0, 0);
  display: inline-block;
  padding: 0.2em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

/* Vertical spacer to help content breathe */

.vertical-spacer {
  height: 8em;
}

/* Some padding for feature images */

.feature img {
  margin-bottom: 2em;
}

.feature {
  color: #444444;
  font-weight: 300;
  letter-spacing: 1px;
}

/* How to override the default Bootstrap colors */

.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}

/* How to override the default Bootstrap navbar */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 1);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
#form button{
 background-color: black;
 color: white;
 border: none;
}
#form button:hover{
 background-color: white;
 color: black;

}


.nav-center{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;

}

#myModalLabel{
  text-align: center;
}

.navbar{
  border: none;
}
.container h2{
  text-align: center;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}
.tabtarifs{
  margin-left: 150px;
  margin-top: 30px;
  font-family: 'Open Sans';
  font-size: 15px;

}
.entete{
  padding-left: 25px;
}

table{
  line-height: 3em;
}

td{
  width: 100px;
}

.prix{
  text-align: center;
}
.zoner{
  background-color: rgba(255,0,0,0.35);
}
.position{
  padding-left: 5px;
}

